<ion-content *transloco="let t">
  <form [formGroup]="formulario" (ngSubmit)="enviar()">
    <ion-list>
      <ion-item>
        <ion-input formControlName="nombre" label-placement="stacked" [label]="t('First name')" [placeholder]="t('First name')"></ion-input>
        <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
        <ion-text class="text-danger" *ngIf="hasErrors('nombre', 'required')">
          {{t('First name required')}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-input formControlName="apellidos" label-placement="stacked" [label]="t('Last name')" [placeholder]="t('Last name')"></ion-input>
        <ion-icon slot="start" name="people" aria-hidden="true"></ion-icon>
        <ion-text class="text-danger" *ngIf="hasErrors('apellidos', 'required')">
          {{t('Last name required')}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-input formControlName="telefono" label-placement="stacked" [label]="t('Phone number')" placeholder="Ej: 636123123"></ion-input>
        <ion-icon slot="start" name="call" aria-hidden="true"></ion-icon>
        <ion-text class="text-danger" *ngIf="hasErrors('telefono', 'required')">
          {{t('Phone number required')}}
        </ion-text>
        <ion-text class="text-danger" *ngIf="hasErrors('telefono', 'pattern')">
          {{t('Invalid phone number format. 9 numbers')}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-input formControlName="email" label-placement="stacked" [label]="t('Email')" placeholder="email@domain.com"></ion-input>
        <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        <ion-text class="text-danger" *ngIf="hasErrors('email', 'required')">
          {{t('Email address required')}}
        </ion-text>
        <ion-text class="text-danger" *ngIf="hasErrors('email', 'email')">
          {{t('Invalid email format')}}
        </ion-text>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button id="button-submit" type="submit">
        {{t('Send')}}
      </ion-button>
    </div>
  </form>
    <ion-alert
      [isOpen]="showAlert"
      [header]="t('Sent')"
      [subHeader]="t('Contact form was sent')"
      [message]="t('We will soon contact you by e-mail.')"
      [buttons]="[t('Accept')]"
      (didDismiss)="showAlert = false">
    </ion-alert>
</ion-content>
