<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="enviar()">
    <ion-list>
      <ion-item>
        <ion-input formControlName="nombre" label-placement="stacked" label="Nombre" placeholder="Nombre"></ion-input>
        <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
        <ion-text class="text-danger" *ngIf="hasErrors('nombre', 'required')">
          Nombre es requerido
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-input formControlName="apellidos" label-placement="stacked" label="Apellidos" placeholder="Apellidos"></ion-input>
        <ion-icon slot="start" name="people" aria-hidden="true"></ion-icon>
        <ion-text class="text-danger" *ngIf="hasErrors('apellidos', 'required')">
          Apellidos son requerido</ion-text>
      </ion-item>
      <ion-item>
        <ion-input formControlName="telefono" label-placement="stacked" label="Teléfono" placeholder="Ej: 636123123"></ion-input>
        <ion-icon slot="start" name="call" aria-hidden="true"></ion-icon>
        <ion-text class="text-danger" *ngIf="hasErrors('telefono', 'required')">
          Telefono requerido
        </ion-text>
        <ion-text class="text-danger" *ngIf="hasErrors('telefono', 'pattern')">
          Formato de teléfono no válido. 9 dígitos
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-input formControlName="email" label-placement="stacked" label="Email" placeholder="email@domain.com"></ion-input>
        <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        <ion-text class="text-danger" *ngIf="hasErrors('email', 'required')">
          Email requerido
        </ion-text>
        <ion-text class="text-danger" *ngIf="hasErrors('email', 'email')">
          Formato de email no válido
        </ion-text>
      </ion-item>
    </ion-list>
    <div class="button-container">
      <ion-button id="button-submit" type="submit">
        Enviar
      </ion-button>
    </div>
  </form>
    <ion-alert
      [isOpen]="showAlert"
      header="¡Enviado!"
      subHeader="Formulario de contacto enviado"
      message="Proximamente nos pondremos en contacto con usted por correo electrónico"
      [buttons]="['Aceptar']"
      (didDismiss)="showAlert = false">
    </ion-alert>
</ion-content>
