$size-avatar-image: 200px;
$padding-avatar-image: 10px;

.avatarContainer{
  margin: 0 auto;
  height: $size-avatar-image;
  width: $size-avatar-image;
  position: relative;
  margin-top: $padding-avatar-image;
  margin-bottom: $padding-avatar-image;
}

.avatarContainer img{
  height: $size-avatar-image;
  width: $size-avatar-image;
  object-fit: cover;
  border: black 2px solid;
}

ion-card-header{
  text-align: center;
  height: 50%;
  //background-color: red;
}

ion-card-subtitle{
  text-transform: none;
}

ion-icon{
  font-size: 17px;
  margin-right: 10px;
}

ion-item {
  cursor: pointer;
}

ion-card {
  //background-color: green;
}

.cameraIcon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  padding: 8px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
}





