<!-- Header-->
<ion-header [translucent]="true" *transloco="let t">
  <ion-toolbar>
    <ion-title>
      Config
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *transloco="let t">

  <!-- Condense header -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{t('Configuration')}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- User data -->
  <ion-card>
    <ion-avatar class="avatarContainer">
      <img alt="Silhouette of a person's head" [src]='profileImage'/>
      <ion-icon name="camera-outline" class="cameraIcon" (click)="changeImage()"></ion-icon>
    </ion-avatar>
    <ion-card-header>
      <ion-card-title>{{user?.firstName}} {{user?.lastName}}</ion-card-title>
      <ion-card-subtitle>{{ user?.email }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Alert: Image size exceeded -->
  <ion-alert
    [isOpen]="maxSize"
    header="Error"
    subHeader="Tamaño de imagen excedido"
    message="La imagen que intentas subir excede el tamaño máximo permitido de 1MB."
    [buttons]="[t('Accept')]"
    (didDismiss)="maxSize = false"
  ></ion-alert>

  <!-- Menu options -->
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>{{ t('Settings') }}</ion-card-title>
      </ion-card-header>

      <ion-list>
        <!-- Menu option: Change personal data -->
        <ion-item class="ion-activatable" id="open-modal">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>{{t('Change personal data')}}</ion-label>
        </ion-item>

        <!-- Menu option: Dark theme-->
        <ion-item class="ion-activatable">
          <ion-icon name="moon-outline"></ion-icon>
          <ion-toggle [(ngModel)]="isDark" (ionChange)="toggleChange()" justify="space-between" [checked]="isDark">
            {{t('Dark theme')}}
          </ion-toggle>
        </ion-item>

        <!-- Menu option: Language -->
        <ion-item class="ion-activatable">
          <ion-icon name="language-outline"></ion-icon>
          <ion-select label="{{t('Language')}}" placeholder="{{t('Language')}}"
                      (ionChange)="changeLanguage($event)" [value]="currentLanguage">
            <ion-select-option *ngFor="let lang of languages">{{lang}}</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Menu option: My orders -->
        <ion-item class="ion-activatable" [routerLink]="['/tabs/tab4/my-orders']">
          <ion-icon name="trending-up-outline"></ion-icon>
          <ion-label>{{t('My orders')}}</ion-label>
        </ion-item>

        <!-- Menu option: Contact form -->
        <ion-item class="ion-activatable" id="contact-modal">
          <ion-icon name="person-add-outline"></ion-icon>
          <ion-label>{{t('Contact')}}</ion-label>
        </ion-item>

        <!-- Menu option: Log out -->
        <ion-item class="ion-activatable" (click)="logOut()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>{{t('Log out')}}</ion-label>
        </ion-item>
      </ion-list>

      <!-- Modal: Change personal data -->
      <ion-modal #personalDataModal trigger="open-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancelChangePersonalData()">{{t('Cancel')}}</ion-button>
              </ion-buttons>
              <ion-title>{{t('Change personal data')}}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirmChangePersonalData()" [strong]="true">{{t('Confirm')}}</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item>
              <ion-input
                [label]="t('Enter your first name')"
                labelPlacement="stacked"
                type="text"
                placeholder="{{firstName}}"
                [(ngModel)]="firstName"
              ></ion-input>
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-modal>

      <!-- Modal: Contact form-->
      <ion-modal #contactModal trigger="contact-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancelContactModal()">{{t('Cancel')}}</ion-button>
              </ion-buttons>
              <ion-title>{{t('Contact form')}}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirmContactModal()" [strong]="true">{{t('Confirm')}}</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form [formGroup]="formulario" (ngSubmit)="confirmContactModal()">

              <!-- Contact form: First name-->
              <ion-item>
                <ion-input formControlName="nombre" label-placement="stacked" [label]="t('First name')" [placeholder]="t('First name')"></ion-input>
                <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
                <ion-text class="text-danger" *ngIf="hasErrors('nombre', 'required')">
                  {{t('First name required')}}
                </ion-text>
              </ion-item>

              <!-- Contact form: Last name-->
              <ion-item>
                <ion-input formControlName="apellidos" label-placement="stacked" [label]="t('Last name')" [placeholder]="t('Last name')"></ion-input>
                <ion-icon slot="start" name="people" aria-hidden="true"></ion-icon>
                <ion-text class="text-danger" *ngIf="hasErrors('apellidos', 'required')">
                  {{t('Last name required')}}
                </ion-text>
              </ion-item>

              <!-- Contact form: Phone number-->
              <ion-item>
                <ion-input formControlName="telefono" label-placement="stacked" [label]="t('Phone number')" placeholder="Ej: 636123123"></ion-input>
                <ion-icon slot="start" name="call" aria-hidden="true"></ion-icon>
                <ion-text class="text-danger" *ngIf="hasErrors('telefono', 'required')">
                  {{t('Phone number required')}}
                </ion-text>
                <ion-text class="text-danger" *ngIf="hasErrors('telefono', 'pattern')">
                  {{t('Invalid phone number format. 9 numbers')}}
                </ion-text>
              </ion-item>

              <!-- Contact form: Email address-->
              <ion-item>
                <ion-input formControlName="email" label-placement="stacked" [label]="t('Email')" placeholder="email@domain.com"></ion-input>
                <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
                <ion-text class="text-danger" *ngIf="hasErrors('email', 'required')">
                  {{t('Email address required')}}
                </ion-text>
                <ion-text class="text-danger" *ngIf="hasErrors('email', 'email')">
                  {{t('Invalid email format')}}
                </ion-text>
              </ion-item>
            </form>
          </ion-content>

          <!-- Contact form: Alert, success sent contact form -->
          <ion-alert
            [isOpen]="showAlert"
            [header]="t('Sent')"
            [subHeader]="t('Contact form was sent')"
            [message]="t('We will soon contact you by e-mail.')"
            [buttons]="[t('Accept')]"
            (didDismiss)="showAlert = false">
          </ion-alert>
        </ng-template>
      </ion-modal>
    </ion-card-content>
  </ion-card>
</ion-content>

