.avatarContainer{
  margin: 0 auto;
  height: 100px;
  width: 100px;
  position: relative;
}

.avatarContainer img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

ion-card-header{
  text-align: center;
  height: 50%;
}

ion-card-subtitle{
  text-transform: none;
}

ion-icon{
  font-size: 17px;
  margin-right: 10px;
}

ion-item {
  cursor: pointer;
}

.cameraIcon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  padding: 8px;
  font-size: 25px;
  cursor: pointer;
  z-index: 10;
}





