<ion-content scroll-y="false" class="background-image" *transloco="let t">
  <div class="center-div">
    <form [formGroup]="formulario" (ngSubmit)="registerUser()">
      <ion-list>
        <ion-item>
          <ion-text>
            <a href="login">{{t('Back')}}</a>
          </ion-text>
          <ion-title>
            {{t('Register')}}
          </ion-title>
        </ion-item>
        <ion-item>
          <ion-input formControlName="firstName" label-placement="stacked" [label]="t('First name')" [placeholder]="t('Enter your first name')"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('firstName', 'required')">
            {{t('First name required')}}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-input formControlName="lastName" label-placement="stacked" [label]="t('Last name')" [placeholder]="t('Enter your last name')"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('lastName', 'required')">
            {{t('Last name required')}}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-input formControlName="email" label-placement="stacked" [label]="t('Email')" [placeholder]="t('Enter your email')"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'required')">
            {{t('Email address required')}}
          </ion-text>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'email')">
            {{t('Invalid email format')}}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="password" label-placement="stacked" [label]="t('Password')" [placeholder]="t('Enter your password')"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('password', 'required')">
            {{t('Password required')}}
          </ion-text>
        </ion-item>
      </ion-list>
      <ion-button id="button-submit" type="submit">
        {{t('Register')}}
      </ion-button>
      <ion-alert
        [isOpen]="showSuccessAlert"
        [header]="t('Success')"
        [subHeader]="t('User registration successful.')"
        message="{{alertMessage}}"
        [buttons]="[{ text: t('Accept'), handler: navigateToLogin }]"
        (didDismiss)="showSuccessAlert = false"
        backdrop-dismiss="false">
      </ion-alert>
      <ion-alert
        [isOpen]="showErrorAlert"
        header="Error"
        [subHeader]="t('An error occurred in the user registration attempt.')"
        message="{{alertMessage}}"
        [buttons]="[t('Close')]"
        (didDismiss)="showErrorAlert = false">
      </ion-alert>
    </form>
  </div>
</ion-content>

