<ion-content scroll-y="false" class="background-image">
  <div class="center-div">
    <form [formGroup]="formulario" (ngSubmit)="registerUser()">
      <ion-list>
        <ion-item>
          <ion-title>
            Register
          </ion-title>
        </ion-item>
        <ion-item>
          <ion-input formControlName="firstName" label-placement="stacked" label="First name" placeholder="Enter your first name"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('firstName', 'required')">
            First name required
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-input formControlName="lastName" label-placement="stacked" label="Last name" placeholder="Enter your last name"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('lastName', 'required')">
            Last name required
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-input formControlName="email" label-placement="stacked" label="Email" placeholder="Enter your email"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'required')">
            Email address required
          </ion-text>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'email')">
            Invalid email format
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="password" label-placement="stacked" label="Password" placeholder="Enter your password"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('password', 'required')">
            Password required
          </ion-text>
        </ion-item>
      </ion-list>
      <ion-button id="button-submit" type="submit">
        Register
      </ion-button>
      <ion-alert
        [isOpen]="showAlert"
        header="Error"
        subHeader="An error occurred in the user registration attempt."
        message="{{errorMessage}}"
        [buttons]="['Close']"
        (didDismiss)="showAlert = false">
      </ion-alert>
    </form>
  </div>
</ion-content>

