ion-item {
  margin-bottom: 16px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

ion-input {
  margin-top: 8px;
}

.text-danger {
  display: block;
  margin-top: 4px;
  margin-left: 16px;
  color: red;
}
