ion-card {
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
  min-height: 150px;
  width: 25%;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: red;
}

ion-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  height: auto;
  width: 100px;
  justify-content: center;
}
