<div class="cardsContainer">
  <ion-card class="card" [routerLink]="['/tabs/tab2', productList[productIndex].id]">
    <img class="card-image" alt="Silhouette of mountains" src="{{productList[productIndex].imagen}}" />
    <ion-card-header>
      <ion-card-title>{{productList[productIndex].nombre}}</ion-card-title>
      <ion-card-subtitle>{{productList[productIndex].precio | currency: 'EUR'}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-button (click)="cambiar()">Aumentar</ion-button>
</div>

