<app-custom-header [translucent]="true" *transloco="let t" [title]="t('Products')"></app-custom-header>
<ion-content [fullscreen]="true">
  <app-custom-header [size]="'large'" *transloco="let t" [title]="t('Products')" [collapse]="'condense'"></app-custom-header>
  <ion-toolbar>
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
  <app-product-card *ngIf="results.length < 1" [products]="productList"> </app-product-card>
  <app-product-card *ngIf="results.length > 0" [products]="results"> </app-product-card>
</ion-content>
