<app-custom-header [translucent]="true" [title]="'Products'"></app-custom-header>
<ion-content [fullscreen]="true">
  <app-custom-header [size]="'large'" [title]="'Products'" [collapse]="'condense'"></app-custom-header>
  <ion-toolbar>
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
  <app-product-card *ngIf="results.length < 1" [products]="productList"> </app-product-card>
  <app-product-card *ngIf="results.length > 0" [products]="results"> </app-product-card>
</ion-content>
