<ion-header [translucent]="true" *transloco="let t">
  <ion-toolbar>
    <ion-title>
      {{t('Products')}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *transloco="let t">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{t('Products')}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-searchbar [placeholder]="t('Search')" [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>
  </ion-toolbar>
  <app-product-card *ngIf="results.length < 1" [products]="productList"> </app-product-card>
  <app-product-card *ngIf="results.length > 0" [products]="results"> </app-product-card>
</ion-content>
