<app-custom-header [translucent]="true" *transloco="let t" [title]="t('Cart')"></app-custom-header>
<ion-content [fullscreen]="true" *transloco="let t">
  <app-custom-header [size]="'large'" [title]="t('Your cart')" [collapse]="'condense'"></app-custom-header>

  <ion-card *ngIf="sharpList.length > 0">
    <ion-card-header>
      <ion-card-title>{{precioTotal | currency: "EUR"}}</ion-card-title>
      <ion-card-subtitle>Total</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="placeOrder()">{{t('Place order')}}</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="sharpList.length < 1">
    <ion-card-header>
      <ion-card-title>{{t('Your cart is currently empty')}}</ion-card-title>
      <ion-card-subtitle>{{t('Empty cart')}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>{{t('Go to products and add some products to your cart')}}</ion-card-subtitle>
      <ion-button expand="block" [routerLink]="['/tabs/tab2']">{{t('Go to products')}}</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-alert
    [isOpen]="showOrderAlert"
    [header]="t('Success')"
    [subHeader]="t('Order successfully registered')"
    [message]="t('You can view the order information in -Configuration/My orders-.')"
    [buttons]="[{ text: t('Accept')}]"
    (didDismiss)="showOrderAlert = false"
    backdrop-dismiss="false">
  </ion-alert>
  <app-product-card *ngIf="sharpList.length > 0" [products]="sharpList" [isCart]="true"> </app-product-card>
</ion-content>
