.image {
  width: auto;
  height: 75px;
  max-width: 100%;
  object-fit: contain;
  float: left;
  margin: 12px;
}

.productCardCart{
  height: 100px;
  align-items: center;
  display: flex;
  position: relative;
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
}

.productCardCart:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ion-item {
  color: blue;
}

.cartProductTitle {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.placeOrderButton {
  margin: 6px;
}

.deleteIcon{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

ion-card {
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

ion-card-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 17px;
  margin-bottom: 15px;
}

ion-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  padding: 6px;
}

ion-card-header {
  padding: 16px;
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
}

ion-card-subtitle {
  font-size: 16px;
  margin-top: 8px;
}

swiper-slide {
  padding: 10px;
}

.featuredCard {
  width: 50%;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.categoryImage{
  height: 100%;
  object-fit: contain;
  display: block;
}

.categoryCard{
  height: 100%;
  object-fit: contain;
}

ion-col{
  height: 250px;
}

.categoryCardHeader{
  height: 75%;
}



