<ion-header [translucent]="true" *transloco="let t">
  <ion-toolbar>
    <ion-title>
      {{t('Categories')}}
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding" *transloco="let t">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{t('Categories')}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ng-container *ngFor="let cat of categories; let i = index">
      <ion-text>
        <h3>{{t(cat) | titlecase}}</h3>
      </ion-text>
      <swiper-container [breakpoints]="breakpoints" pagination="true" navigation="true" gap="40">
        <ng-container *ngFor="let product of lists[i]">
          <swiper-slide>
            <ion-card [routerLink]="['/tabs/tab3', product.id]">
              <img class="card-image" alt="Silhouette of mountains" src="{{product.imagen}}" />
              <ion-card-header>
                <ion-card-title>{{product.nombre}}</ion-card-title>
                <ion-card-subtitle>{{product.precio | currency: 'EUR'}}</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </ng-container>
  </ion-content>
