ion-card {
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
  min-height: 150px;
}

ion-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

ion-back-button {
  margin-left: 12px;
}
