<!-- Header -->
<ion-header [translucent]="true" *transloco="let t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{t('Orders')}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" *transloco="let t">
  <!-- Orders list-->
  <ion-list>
    <!-- Order item -->
    <ion-item *ngFor="let order of ordersList; let i = index" lines="none" [routerLink]="['/tabs/tab4/my-orders', i]">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ order.fecha}}</ion-card-title>
          <ion-card-subtitle>{{order.precio | currency: 'EUR'}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{t('Amount of products')}}: {{order.products.length}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- No orders message -->
  <ion-card *ngIf="ordersList.length < 1">
    <ion-card-header>
      <ion-card-title>{{t('You have not placed an order yet')}}</ion-card-title>
      <ion-card-subtitle>{{t('No order')}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>{{t('Go to products and place an order')}}</ion-card-subtitle>
      <ion-button expand="block" [routerLink]="['/tabs/tab2']">{{t('Go to products')}}</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
