<ion-content scroll-y="false" *transloco="let t">
  <div class="center-div">

    <!-- Login form -->
    <form [formGroup]="formulario" (ngSubmit)="send()">
      <ion-list>
        <ion-item>
          <ion-text>
            <a href="login">{{t('Back')}}</a>
          </ion-text>
          <ion-title>
            {{t('Recuperación')}}
          </ion-title>
        </ion-item>

        <!-- Login form: Email address -->
        <ion-item>
          <ion-input formControlName="email" label-placement="stacked" [label]="t('Email')" [placeholder]="t('Enter your email')"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'required')">
            {{t('Email address required')}}
          </ion-text>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'email')">
            {{t('Invalid email format')}}
          </ion-text>
        </ion-item>

      </ion-list>

      <!-- Login form: Confirm button-->
      <ion-button id="button-submit" type="submit">
        {{t('Login')}}
      </ion-button>
      <ion-alert
        [isOpen]="showAlert"
        [header]="t('Sent')"
        subHeader="Password recovery sent to email"
        message="Check your email inbox and continue with the steps below"
        [buttons]="[{ text: t('Accept'), handler: navigateToLogin }]"
        (didDismiss)="showAlert = false"
        backdrop-dismiss="false">
      </ion-alert>
    </form>
  </div>
</ion-content>

