<ion-content scroll-y="false" class="background-image" *transloco="let t">
  <div class="center-div">
    <form [formGroup]="formulario" (ngSubmit)="loginUser()">
      <ion-list>
        <ion-item>
          <ion-title>
            {{t('Login')}}
          </ion-title>
        </ion-item>
        <ion-item>
          <ion-input formControlName="email" label-placement="stacked" [label]="t('Email')" [placeholder]="t('Enter your email')"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'required')">
            {{t('Email address required')}}
          </ion-text>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'email')">
            {{t('Invalid email format')}}
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="password" label-placement="stacked" [label]="t('Password')" [placeholder]="t('Enter your password')"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('password', 'required')">
            {{t('Password required')}}
          </ion-text>
        </ion-item>
      </ion-list>
      <ion-button id="button-submit" type="submit">
        {{t('Login')}}
      </ion-button>
      <ion-item lines="none">
        <ion-text>
          {{t('I do not have an account.')}} <a href="register">{{t('Register')}}</a>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text>
          {{t('I dont remember my password.')}} <a href="">{{t('Recover password')}}</a>
        </ion-text>
      </ion-item>
      <ion-alert
        [isOpen]="showErrorAlert"
        header="Error"
        [subHeader]="t('An error occurred in the user login attempt.')"
        message="{{alertMessage}}"
        [buttons]="[t('Close')]"
        (didDismiss)="showErrorAlert = false">
      </ion-alert>
    </form>
  </div>
</ion-content>
