<ion-content scroll-y="false" class="background-image">
  <div class="center-div">
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
      <ion-list>
        <ion-item>
          <ion-input formControlName="email" label-placement="stacked" label="Email" placeholder="Enter your email"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'required')">
            Email address required
          </ion-text>
          <ion-text class="text-danger" *ngIf="hasErrors('email', 'email')">
            Invalid email format
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="password" label-placement="stacked" label="Password" placeholder="Enter your password"></ion-input>
          <ion-text class="text-danger" *ngIf="hasErrors('password', 'required')">
            Password required
          </ion-text>
        </ion-item>
      </ion-list>
      <ion-button id="button-submit" type="submit">
        Login
      </ion-button>
      <ion-item lines="none">
        <ion-text>
          I do not have an account. <a href="">Register</a>
        </ion-text>
      </ion-item>
      <ion-item lines="none">
        <ion-text>
          I can't remember my password. <a href="">Recover password</a>
        </ion-text>
      </ion-item>
    </form>
  </div>
</ion-content>
